body,
html {
  background-color: hsl(237, 39%, 10%);
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Code Pro", "monospace";
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #00cc00;
  text-shadow:
    0 0 2px #00cc00,
    0 0 5px #00cc00;
  text-decoration: none;
  letter-spacing: 0.15rem;
  animation: fade-in 2s;
  font-size: 1.5rem;
}

.title:hover {
  color: #99ff99;
}

.stars {
  animation: fade-in 2s;
}

.answersBanner {
  position: fixed;
  bottom: 30px;
  color: #b9b9bb;
  text-shadow:
    0 0 2px #00cc00,
    0 0 5px #00cc00;
  text-decoration: none;
  letter-spacing: 0.15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  animation: fade-in 2s;
}

.downArrow {
  height: 30px;
  animation: bounce 1s infinite;
  filter: drop-shadow(0px 0px 3px #00cc00);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
